
  <div class="parallax-bg img-bg-01"></div>
  <div class="parallax-bg img-bg-02"></div>
  <div class="parallax-bg img-bg-03"></div>
  <div class="parallax-bg img-bg-04"></div>
  <div class="parallax-bg img-bg-05"></div>

<div class="jal-about" style="display: block;">
  <h1>日本航空</h1>
  <p>日本航空株式会社は、東京都品川区に本社を置く日本の大手航空会社である</p>
  <div class="jal-description" style="display: block;">
    <div class="jal-logo" style="display: block; text-align: center;">
      <img src="/jal-logo.png" style="width: 100%; height: 600px;">
    </div>
  </div>
</div>

<style>
body,
html {
  height: 100%;
  margin: 0 auto;
  letter-spacing: 2px;
  font-size: 10px;
}

div {
  box-sizing: border-box;
  color: #FFF;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-bg-01 {
  background-image: url('https://www.jal.com/ja/img/Y21/top_01.jpg');
}
.img-bg-02 {
  background-image: url('https://www.jal.com/ja/img/Y21/top_02.jpg');
}
.img-bg-03 {
  background-image: url('https://www.jal.com/ja/img/Y21/top_03.jpg');
}
.img-bg-04 {
  background-image: url('https://www.jal.com/ja/img/Y21/top_04.jpg');
}
.img-bg-05 {
  background-image: url('https://www.jal.com/ja/img/Y21/top_05.jpg');
}
.jal-about {
  text-align: center;
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 100%;
  color: #000;
}
.jal-about h1 {
  font-size: 56px;
  color: #000;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
}
.jal-about p {
  font-size: 36px;
  color: #000;
  font-weight: 400;
  text-align: center;
}
</style>